#top {
    text-align: center;
    background-color: #eb4630;
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    border-bottom-width: 11px;
    margin: 30px;
    margin-right: 160px;
    margin-left: 160px;
    font-size: large;
}